<header>
    <div class="container-hero">
        <div class="container hero">
            <div class="customer-support">
                <i class="fa-solid fa-headset"></i>
                <div class="content-customer-support">
                    <span class="text">Soporte al cliente</span>
                    <span class="number">123-456-7890</span>
                </div>
            </div>

            <div class="container-logo">
    <i class="fa-solid fa-paintbrush"></i>
                <h1 class="logo"><a href="/">Artistica Fufu</a></h1>
            </div>

            <div class="container-user">
              <a href="/register"> <i class="fa-solid fa-user"></i></a> 
              <a href="/carritoDeCompras"><i class="fa-solid fa-basket-shopping"></i></a>
                <div class="content-shopping-cart">
                    <span class="text">Carrito</span>
                    <span class="number">(0)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-navbar">
        <nav class="navbar container">
            <i class="fa-solid fa-bars"></i>
            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Pinturas</a></li>
                <li><a href="/fibrofacil">Fibrofacil</a></li>
                <li><a href="#">Más</a></li>
                <li><a href="#">Blog</a></li>
            </ul>

            <form class="search-form">
                <input type="search" placeholder="Buscar..." />
                <button class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </nav>
    </div>
</header>
