<!DOCTYPE html>
<html lang="en">
    
    <body>
<<<<<<< HEAD
        <%- include('../partials/head.ejs') %>  
             
<%- include('../partials/header.ejs') %>
        
                <form method="post" action="/products/create" enctype="multipart/form-data">
                    <label for="name">Nombre</label>
                    <input type="text" name="name">
                    <label for="year">Precio</label>
                    <input type="number" name="price">
=======
    <%- include('../partials/header.ejs') %> 
    <br><br>

    <form method="post" action="/products/create" enctype="multipart/form-data">

        <h2 class="text">Creá un producto nuevo</h2>
        
        <h3>
        <label for="name">Nombre</label>
        <input type="text" name="name">
        </h3>

        <h3>
        <label for="year">Precio</label>
        <input type="number" name="price">
        </h3>
>>>>>>> 58a8a0b24490763af8f280cdde38875c835359d3

        <h3>
        <label class="form-label" for="name">Seleccioná una imagen </label>
        <input type="file" name="image" id="image" multiple>
        </h3>

        <!-- <h3>
        <label class="form-label" for="name">Descripción:</label>
        <input class="form-input" type="text" id="name2" name="name2"><br><br>
        </h3> -->

        <!-- <h3>
        <label class="form-label" for="categoria">Categoría:</label>
                <select name="Categoría">
                    <option value="1"></option>
                    <option value="2">Fibrofacil</option>
                    <option value="3">Pintura</option>
                    <option value="4">Otro</option>
        </h3> -->
      
        <button type="submit">Crear producto</button>
        <br>

        </form>
    </body>
</html>
