<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" href="./css/register.css">
  <title>FUFU</title>
<body>
  <%- include('./partials/header.ejs') %> 
    <br><br>

    <main>
        <div class="div-botones-admin">
            <a href="/crearProducto"><button class="botones-admin">Crear producto</button></a>
        </div>
        <div class="div-botones-admin">
            <a href="/editarProducto"><button class="botones-admin">Editar producto</button></a>
        </div>
      
    </main>

    <%- include('./partials/footer.ejs') %> 
</body>
</html> 
