<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/logo_size.jpg">
    <title>Carro De Compras</title>
</head>

<body>
    <header>
        <div class="container-hero">
            <div class="container hero">
                <div class="customer-support">
                    <i class="fa-solid fa-headset"></i>
                    <div class="content-customer-support">
                        <span class="text">Soporte al cliente</span>
                        <span class="number">123-456-7890</span>
                    </div>
                </div>

                <div class="container-logo">
        <i class="fa-solid fa-paintbrush"></i>
                    <h1 class="logo"><a href="/">Artistica Fufu</a></h1>
                </div>

                <div class="container-user">
                  <a href="/register"> <i class="fa-solid fa-user"></i></a> 
                  <a href="/carritoDeCompras"><i class="fa-solid fa-basket-shopping"></i></a>
                    <div class="content-shopping-cart">
                        <span class="text">Carrito</span>
                        <span class="number">(0)</span>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <ul class="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Pinturas</a></li>
                    <li><a href="#">Fibrofacil</a></li>
                    <li><a href="#">Más</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>

                <form class="search-form">
                    <input type="search" placeholder="Buscar..." />
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </nav>
        </div>
    </header>
  <div class="container">
  
    <h1>Shopping Cart</h1>
  
    <div class="cart">
  
      <div class="products">
  
        <div class="product">
  
          <img src="/images/helado-1321.jpg">
  
          <div class="product-info">
  
            <h2 class="product-name">Producto</h2>
  
            <h2 class="product-price">$ 1,000</h2>
  
            <h2 class="product-offer">50%</h2>
  
            <p class="product-quantity">Qnt: <input value="1" name="">
  
            <p class="product-remove">
  
              <i class="fa fa-trash" aria-hidden="true"></i>
  
              <span class="remove">Remove</span>
  
            </p>
  
          </div>
  
        </div>
  
        <div class="product">
  
          <img src='/images/arco-iris-1982.jpg'">
  
          <div class="product-info">
  
            <h2 class="product-name">Producto</h2>
  
            <h2 class="product-price">$ 2,000</h2>
  
            <h2 class="product-offer">40%</h2>
  
            <p class="product-quantity">Qnt: <input value="1" name="">
  
            <p class="product-remove">
  
              <i class="fa fa-trash" aria-hidden="true"></i>
  
              <span class="remove">Remove</span>
  
            </p>
  
          </div>
  
        </div>
  
      </div>
  
      <div class="cart-total">
  
        <p>
  
          <span>Total Price</span>
  
          <span>$ 3,000</span>
  
        </p>
  
        <p>
  
          <span>Number of Items</span>
  
          <span>2</span>
  
        </p>
  
        <p>
  
          <span>You Save</span>
  
          <span>$ 1,000</span>
  
        </p>
  
        <a href="#">Proceed to Checkout</a>
  
      </div>
  
    </div>
  
  </div>
    <footer class="footer">
        <div class="container container-footer">
          <div class="menu-footer">
            <div class="contact-info">
              <p class="title-footer">Información de Contacto</p>
              <ul>
                <li>
                  Dirección: Av. Rivadavia 4717, Ciudad de Buenos Aires.
                </li>
                <li>Atencion al cliente: 0800-456-7890</li>
                <li>Whatapp: 11-6778-9698</li>
                <li>Email: artfufu@soporte.com</li>
              </ul>
              <div class="social-icons">
                <span class="facebook">
                  <i class="fa-brands fa-facebook-f"></i>
                </span>
                <span class="twitter">
                  <i class="fa-brands fa-twitter"></i>
                </span>
                <span class="youtube">
                  <i class="fa-brands fa-youtube"></i>
                </span>
                <span class="pinterest">
                  <i class="fa-brands fa-pinterest-p"></i>
                </span>
                <span class="instagram">
                  <i class="fa-brands fa-instagram"></i>
                </span>
              </div>
            </div>
  
            <div class="information">
              <p class="title-footer">Información</p>
              <ul>
                <li><a href="#">Acerca de Nosotros</a></li>
                <li><a href="#">Información Delivery</a></li>
                <li><a href="#">Politicas de Privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Contactanos</a></li>
              </ul>
            </div>
  
            <div class="my-account">
              <p class="title-footer">Mi cuenta</p>
  
              <ul>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Historial de ordenes</a></li>
                <li><a href="#">Lista de deseos</a></li>
                <li><a href="#">Boletín</a></li>
                <li><a href="#">Reembolsos</a></li>
              </ul>
            </div>
  
            <div class="newsletter">
              <p class="title-footer">Boletín informativo</p>
  
              <div class="content">
                <p>
                  Suscríbete a nuestros boletines ahora y mantente al
                  día con nuevas colecciones y ofertas exclusivas.
                </p>
                <input type="email" placeholder="Ingresa el correo aquí...">
                <button>Suscríbete</button>
              </div>
            </div>
          </div>
  
          <div class="copyright">
            <p>
              Desarrollado por Grupo#7 &copy; 2022
            </p>
  
            <img src="/images/payment.png" alt="Pagos">
          </div>
        </div>
      </footer>
</body>

</html>