<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs')%>
	<link rel="stylesheet" href="/css/detalleproducto.css" />
<body>
	<%- include('./partials/header.ejs') %> 

	<main class="container-detalles" id="detalles">
		<article class="detalle-grid">
			<img src="/images/helado-1321.jpg" class="img-fluid">
			<div class="detalles-content">
				<h3 class="nombre-producto">Producto</h3>
				<div class="rating">
				</div>
				<p class="price"><b>Precio: </b> $55.00</p>
				<p class="description">
					<b>Descripcion: </b> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quae ad
						ex sint expedita perspiciatis odit eligendi! Et quia ex aperiam dolorum sunt omnis maiores.
						Repudiandae delectus iste exercitationem vel?</span>
				</p>
				<p class="description">
					<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptates consequuntur in
						assumenda odit hic, aut cupiditate dolorem aspernatur! Quibusdam iusto magnam vero maxime
						quisquam voluptatibus minima aliquam molestias, iure ratione commodi, reiciendis quasi.</span>
				</p>
				<div class="bottom">
					<div class="btn__group">
						<a>Añadir carrito</a>
					</div>
				</div>
			</div>
	</main>

	<main class="main-content">
		<section class="container container-features">
			<div class="card-feature">
				<i class="fa-solid fa-plane-up"></i>
				<div class="feature-content">
					<span>Envío gratuito a todo el pais</span>
					<p>En pedido superior a $150</p>
				</div>
			</div>
			<div class="card-feature">
				<i class="fa-solid fa-wallet"></i>
				<div class="feature-content">
					<span>Contrareembolso</span>
					<p>100% garantía de devolución de dinero</p>
				</div>
			</div>
			<div class="card-feature">
				<i class="fa-solid fa-gift"></i>
				<div class="feature-content">
					<span>Tarjeta regalo especial</span>
					<p>Ofrece bonos especiales con regalo</p>
				</div>
			</div>
			<div class="card-feature">
				<i class="fa-solid fa-headset"></i>
				<div class="feature-content">
					<span>Servicio al cliente 24/7</span>
					<p>LLámenos 24/7 al 123-456-7890</p>
				</div>
			</div>
		</section>
		<section class="container top-products">
			<h1 class="heading-1">Mejores Productos</h1>

			<div class="container-options">
				<span class="active">Destacados</span>
				<span>Más recientes</span>
				<span>Mejores Vendidos</span>
			</div>
			<div class="container-products">
				<!-- Producto 1 -->
				<div class="card-product">
					<div class="container-img">
						<img src="/images/globo-1256.jpg" alt="Cafe Irish" />
						<span class="discount">-13%</span>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Globo</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$4.60 <span>$5.30</span></p>
					</div>
				</div>
				<!-- Producto 2 -->
				<div class="card-product">
					<div class="container-img">
						<img src="/images/te-amo-3.jpg" alt="Cafe incafe-ingles.jpg" />
						<span class="discount">-22%</span>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Te amo</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$5.70 <span>$7.30</span></p>
					</div>
				</div>
				<!--  -->
				<div class="card-product">
					<div class="container-img">
						<img src="/images/pinches-12.jpg" alt="Cafe Australiano" />
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
						<h3>Pinches</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$3.20</p>
					</div>
				</div>
				<!--  -->
				<div class="card-product">
					<div class="container-img">
						<img src="/images/arco-iris-1982.jpg" alt="Cafe Helado" />
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Arcoiris</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$5.60</p>
					</div>
				</div>
			</div>
		</section>

<%- include('./partials/footer.ejs') %> 
</body>
</html>