<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.1-web/css/brands.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.1-web/css/">
    <link rel="stylesheet" href="../fontawesome-free-6.2.1-web/css/all.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.1-web/css/solid.css">
    <script src="https://kit.fontawesome.com/18999ea2fd.js" crossorigin="anonymous"></script>
    <title>Artistica Fu-fu</title>
</head>

<body>
    <header>
        <!-- <h4>Sobre nosotros</h4>
<h4>Contacto</h4> -->


        <img src="/images/logo_size.jpg" alt="logo">


        <div class="search_bar">
            <input type="text" placeholder="Que buscás?">
        </div>


        <div> <i class="fa-solid fa-user"></i></div>
        <div><i class="fa-solid fa-cart-shopping"></i></div>



        <div class="burger"><i class="fa fa-bars burger"></i></div>

    </header>
    <!-- <section class="banner">
    <img src="./images/img-home-banner.jpg" alt="Banner de ofertas">
</section> -->
    <nav>
        <h3><a href="#">Home</a></h3>
        <h3><a href="#">Contact</a></h3>
        <h3><a href="#">About</a></h3>
    </nav>


    <main>



        <img src="/images/10100303.jpg" alt="">

        <div class="main-content-box">


            <h1 class="main-title">Casa Americana con 30 muebles para barbie + accesorios de regalo!</h1><br>
            <h2>$ 5.700</h2><br>
            <p class="main-text">

                SKU: 101F-INF-100-ST<br><br>

                Medida: 80x60x40cm <br>
                Material: Mdf de 3mm - Corte Laser<br>
                Accesorios de regalo: Stickers, muñequitas de madera, sello de goma eva, cola vinilica y un acrilico de
                50cc.
                El producto se vende desarmado e incluye instructivo.<br>
                El Set de muebles Incluye:<br>
                1 Cama (27x9x9)<br>
                1 Ropero (18x10x8<br>
                1 Cuna Grande (14x11x10)<br>
                1 Perchero (17x17x7)<br>
                1 Perchero de pie (17x5x5)<br>
                1 Mesa oval (14x9x8)<br>
                4 Sillas (12x6x5)<br>
                1 Placard (11x7x6)<br>
                1 Mesa Ratona (12x7x3)<br>
                1 Televisor LED(10x7)<br>
                1 Sillon 2 cuerpos (9x8x6)<br>
                1 Sillón 1 cuerpo (4x8x6)<br>
                1 Heladera con puerta (20x7x7)<br>
                1 Bajo mesada (14x10x6)<br>
                1 Cocina con puerta (10x7x7)<br>
                1 Alacena (18x10x6)<br>
                1 Lavarropas (10x7x7)<br>
                1 Microondas (7x4x4)<br>
                9 Perchas laser<br>
            </p>

        </div>


    </main>

</body>

</html>