<!DOCTYPE html>
<html lang="en"> 
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/header.ejs') %> 
  <main>
    <section>
      <!-- <h3>Nuevos Lanzamientos</h3> -->
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/cajon-recto-chico-4.jpg' alt=''>
            <div class="descripciones">
              <h4>Cajon Chico</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/canasta-cerveza.jpg' alt=''>
            <div class="descripciones">
              <h4>Porta Cerveza</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/cartel-señalizador.jpg' alt=''>
            <div class="descripciones">
              <h4>Cartel Señalizador</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/porta-celular.jpg' alt=''>
            <div class="descripciones">
              <h4>Porta Celular</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/porta-cubierto-1.jpg' alt=''>
            <div class="descripciones">
              <h4>Porta Cubiertos</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/porta-llaves.jpg' alt=''>
            <div class="descripciones">
              <h4>Porta Llaves</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/porta-retrato-cor.jpg ' alt=>
            <div class="descripciones">
              <h4>Porta Retrato Corazon</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/reloj-modelo.jpg' alt=''>
            <div class="descripciones">
              <h4>Reloj</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/rock-2.jpg' alt=''>
            <div class="descripciones">
              <h4>Rock</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/organizador-6cajones.jpg' alt=''>
            <div class="descripciones">
              <h4>Organizador 6 cajones</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/organizador-9cajones.jpg' alt=''>
            <div class="descripciones">
              <h4>Organizador 9 cajones</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/organizador-nordico-8ca.jpg' alt=''>
            <div class="descripciones">
              <h4>Organizador Nordico</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/dreams.jpg' alt=''>
            <div class="descripciones">
              <h4>Dreams</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/estrella.jpg' alt=''>
            <div class="descripciones">
              <h4>Estrella</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/caja-bombon.jpg' alt=''>
            <div class="descripciones">
              <h4>Caja de Bombones</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/caja-te-3div.jpg ' alt=>
            <div class="descripciones">
              <h4>Caja de Te 3 div</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/caja-te-4div.jpg' alt=''>
            <div class="descripciones">
              <h4>Caja de Te 4 div</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/caja-te-9div.jpg' alt=''>
            <div class="descripciones">
              <h4>Caja de Te 9 div</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/flor.jpg' alt=''>
            <div class="descripciones">
              <h4>Flor</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/lampara-nordica.jpg' alt=''>
            <div class="descripciones">
              <h4>Lampara Nordica</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/maletin-laser-.jpg' alt=''>
            <div class="descripciones">
              <h4>Maletin</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/maletin-porta-pintura.jpg' alt=''>
            <div class="descripciones">
              <h4>Maletin porta pinturas</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/mapache.jpg' alt=''>
            <div class="descripciones">
              <h4>Mapache</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/mundo-world.jpg' alt=''>
            <div class="descripciones">
              <h4>Mundo</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/music-3.jpg ' alt=>
            <div class="descripciones">
              <h4>Music</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/oso.jpg' alt=''>
            <div class="descripciones">
              <h4>Oso</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/panera-inclinada.jpg' alt=''>
            <div class="descripciones">
              <h4>Panera inclinada</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>

      <div class="all-articles">

        <a href="/detalleproducto">
          <article>
            <img src='/images/organizador-nordico.jpg ' alt=>
            <div class="descripciones">
              <h4>Organizador Nordico</h4>
              <p class="precio">$1.500</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/rompecabeza-granja.jpg' alt=''>
            <div class="descripciones">
              <h4>Rompe Cabeza Granja</h4>
              <p class="precio">$2.800</p>
            </div>
          </article>
        </a>

        <a href="/detalleproducto">
          <article>
            <img src='/images/rompecabeza-selva.jpg' alt=''>
            <div class="descripciones">
              <h4>Rompe Cabeza Selva</h4>
              <p class="precio">$2.000</p>
            </div>
          </article>
        </a>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %> 
</body>
</html> 