<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
    <title>FUFU</title>
</head>
<body>
    <header>
        <img class="logoHeader" src="./images/logo_size.jpg" alt="" />
        <input type="search" placeholder="Encontrá lo que buscás">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

        <h3 class= header-title></i>Alguna frase copada?</h3>

    <nav>
      <ul class="lista1">
        <li><a href="" target="_blank">Categorías</a></li>
        <li><a href="" target="_blank">Quiénes somos?</a></li>
        <li><a href="" target="_blank">Ayuda</a></li>
      </ul>

      <ul class="lista2">
        <li><a href="/login" target="_blank">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="" target="_blank">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
      </ul>
    </nav>
    <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
    </header>

    <main>
        <section>
            <div class="all-articles">
                <article>
                    <img src='' alt=''>
                    <div class="descripciones">
                      <div><i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                          <p class="precio">$6.770</p>
                          <p class="descuento">40% OFF</p>
                        </div>
                        <h4>PRODUCTO 1</h4>
                      </div>
                    </div>
                </article>
    
                <article>
                    <img src='' alt=''>
                    <div class="descripciones">
                      <div><i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                          <p class="precio">$230.000</p>
                          <p class="descuento">20% OFF</p>
                        </div>
                        <h4>PRODUCTO 2</h4>
                      </div>
                    </div>
                </article>
    
                <article>
                    <img src='' alt=''>
                    <div class="descripciones">
                      <div><i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                          <p class="precio">$70.500</p>
                          <p class="descuento">10% OFF</p>
                        </div>
                        <h4>PRODUCTO 3</h4>
                      </div>
                    </div>
                </article>
    
                <article>
                    <img src='' alt=''>
                    <div class="descripciones">
                      <div><i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                          <p class="precio">$23.20</p>
                          <p class="descuento">5% OFF</p>
                        </div>
                        <h4>PRODUCTO 4</h4>
                      </div>
                    </div>
                </article>
              </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>