<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/homestyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
    <link rel="shortcut icon" href="./images/logo_size.jpg">
    <title>FUFU</title>
</head>

<body>
    <!-- <header>
        <img class="logoHeader" src="./images/logo_size2.jpg" alt="" />
        <input type="search" placeholder="Encontrá lo que buscás">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

        <h3 class= header-title></i>Alguna frase copada ?</h3>

    <nav>
      <ul class="lista1">
        <li><a href="" target="_blank">Categorías</a></li>
        <li><a href="" target="_blank">Quiénes somos?</a></li>
        <li><a href="" target="_blank">Ayuda</a></li>
      </ul>

      <ul class="lista2">
        <li><a href="/login" target="_blank">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="" target="_blank">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
      </ul>
    </nav>
    <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
    </header> -->
	<header>
        <div class="container-hero">
            <div class="container hero">
                <div class="customer-support">
                    <i class="fa-solid fa-headset"></i>
                    <div class="content-customer-support">
                        <span class="text">Soporte al cliente</span>
                        <span class="number">123-456-7890</span>
                    </div>
                </div>

                <div class="container-logo">
        <i class="fa-solid fa-paintbrush"></i>
                    <h1 class="logo"><a href="/">Artistica Fufu</a></h1>
                </div>

                <div class="container-user">
                    <i class="fa-solid fa-user"></i>
                    <i class="fa-solid fa-basket-shopping"></i>
                    <div class="content-shopping-cart">
                        <span class="text">Carrito</span>
                        <span class="number">(0)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <ul class="menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Pinturas</a></li>
                    <li><a href="#">Fibrofacil</a></li>
                    <li><a href="#">Más</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>

                <form class="search-form">
                    <input type="search" placeholder="Buscar..." />
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <h3>Nuevos Lanzamientos</h3>
            <div class="all-articles">
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Combo casa + Regalo</h4>
                            <p class="precio">$9.499</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/arco-iris-1982.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Arcoiris</h4>
                            <p class="precio">$1.500</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/helado-1321.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Helado</h4>
                            <p class="precio">$2.800</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/globo-1256.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Globo</h4>
                            <p class="precio">$2.000</p>
                    </div>
                </article>
              </div>
        </section>
        <section>
            <h3>Ofertas</h3>
            <div class="all-articles">
                <article>
                    <img src='/images/inf-gato.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Gato</h4>
                            <p class="precio">$6.770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/pinches-12.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Cactus</h4>
                            <p class="precio">$2.70</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/te-amo-3.jpg' alt=''>
                    <div class="descripciones">
                            <h4>"TE AMO"</h4>
                            <p class="precio">$770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 4</h4>
                            <p class="precio">$3.450</p>
                    </div>
                </article>
              </div>
        </section>
        <section>
            <h3>Lo más vendido</h3>
            <div class="all-articles">
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 1</h4>
                            <p class="precio">$6.770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 2</h4>
                            <p class="precio">$2.70</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 3</h4>
                            <p class="precio">$770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 4</h4>
                            <p class="precio">$3.450</p>
                    </div>
                </article>
              </div>
        </section>


        
    </main>
        <!-- <section class="logo-footer">
            <div><img class="logoHeader" src="./images/logo_size2.jpg" alt="" /></div>
        </section>

        <section class="links-footer">
            <li class="footer-link"><a href="" target="_blank">Quiénes somos?</a></li>
            <li class="footer-link"><a href="" target="_blank">Ayuda</a></li>
            <li class="footer-link"><a href="" target="_blank">artFufu@gmail.com</a></li>
        </section>

        <section class="social-icons">
            <li><a href="" target="_blank"></a><i class="fa-brands fa-whatsapp"></i></li>
            <li><a href="" target="_blank"></a><i class="fa-brands fa-instagram"></i></li>
            <li><a href="" target="_blank"></a><i class="fa-brands fa-facebook"></i></li>
        </section>

        <section class="form">
            <div class="footer-form">
                <form action="/">
                    <div class="newsletter"><p>Dejanos tu contacto para recibir nuestro newsletter</p></div>
                    <input type="email" name="email" placeholder="fulanito@pregunta.com">
                </form>
            </div>
        </section> -->
        <footer class="footer">
            <div class="container container-footer">
              <div class="menu-footer">
                <div class="contact-info">
                  <p class="title-footer">Información de Contacto</p>
                  <ul>
                    <li>
                      Dirección: Av. Rivadavia 4717, Ciudad de Buenos Aires.
                    </li>
                    <li>Atencion al cliente: 0800-456-7890</li>
                    <li>Whatapp: 11-6778-9698</li>
                    <li>Email: artfufu@soporte.com</li>
                  </ul>
                  <div class="social-icons">
                    <span class="facebook">
                      <i class="fa-brands fa-facebook-f"></i>
                    </span>
                    <span class="twitter">
                      <i class="fa-brands fa-twitter"></i>
                    </span>
                    <span class="youtube">
                      <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span class="pinterest">
                      <i class="fa-brands fa-pinterest-p"></i>
                    </span>
                    <span class="instagram">
                      <i class="fa-brands fa-instagram"></i>
                    </span>
                  </div>
                </div>
      
                <div class="information">
                  <p class="title-footer">Información</p>
                  <ul>
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="#">Información Delivery</a></li>
                    <li><a href="#">Politicas de Privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Contactanos</a></li>
                  </ul>
                </div>
      
                <div class="my-account">
                  <p class="title-footer">Mi cuenta</p>
      
                  <ul>
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Historial de ordenes</a></li>
                    <li><a href="#">Lista de deseos</a></li>
                    <li><a href="#">Boletín</a></li>
                    <li><a href="#">Reembolsos</a></li>
                  </ul>
                </div>
      
                <div class="newsletter">
                  <p class="title-footer">Boletín informativo</p>
      
                  <div class="content">
                    <p>
                      Suscríbete a nuestros boletines ahora y mantente al
                      día con nuevas colecciones y ofertas exclusivas.
                    </p>
                    <input type="email" placeholder="Ingresa el correo aquí...">
                    <button>Suscríbete</button>
                  </div>
                </div>
              </div>
      
              <div class="copyright">
                <p>
                  Desarrollado por Grupo#7 &copy; 2022
                </p>
      
                <img src="/imagenesdetail2/payment.png" alt="Pagos">
              </div>
            </div>
          </footer>
</body>
</html>