<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/homestyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
    <title>FUFU</title>
</head>

<body>
    <header>
        <img class="logoHeader" src="./images/logo_size2.jpg" alt="" />
        <input type="search" placeholder="Encontrá lo que buscás">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

        <h3 class= header-title></i>Alguna frase copada ?</h3>

    <nav>
      <ul class="lista1">
        <li><a href="" target="_blank">Categorías</a></li>
        <li><a href="" target="_blank">Quiénes somos?</a></li>
        <li><a href="" target="_blank">Ayuda</a></li>
      </ul>

      <ul class="lista2">
        <li><a href="/login" target="_blank">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="" target="_blank">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
      </ul>
    </nav>
    <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
    </header>

    <main>
        <section>
            <h3>Nuevos Lanzamientos</h3>
            <div class="all-articles">
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 1</h4>
                            <p class="precio">$6.770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 2</h4>
                            <p class="precio">$2.70</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 3</h4>
                            <p class="precio">$770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 4</h4>
                            <p class="precio">$3.450</p>
                    </div>
                </article>
              </div>
        </section>
        <section>
            <h3>Ofertas</h3>
            <div class="all-articles">
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 1</h4>
                            <p class="precio">$6.770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 2</h4>
                            <p class="precio">$2.70</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 3</h4>
                            <p class="precio">$770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 4</h4>
                            <p class="precio">$3.450</p>
                    </div>
                </article>
              </div>
        </section>
        <section>
            <h3>Lo más vendido</h3>
            <div class="all-articles">
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 1</h4>
                            <p class="precio">$6.770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 2</h4>
                            <p class="precio">$2.70</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 3</h4>
                            <p class="precio">$770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/10100303.jpg' alt=''>
                    <div class="descripciones">
                            <h4>PRODUCTO 4</h4>
                            <p class="precio">$3.450</p>
                    </div>
                </article>
              </div>
        </section>


        
    </main>

    <footer>
        <section class="logo-footer">
            <div><img class="logoHeader" src="./images/logo_size2.jpg" alt="" /></div>
        </section>

        <section class="links-footer">
            <li class="footer-link"><a href="" target="_blank">Quiénes somos?</a></li>
            <li class="footer-link"><a href="" target="_blank">Ayuda</a></li>
            <li class="footer-link"><a href="" target="_blank">artFufu@gmail.com</a></li>
        </section>

        <section class="social-icons">
            <li><a href="" target="_blank"></a><i class="fa-brands fa-whatsapp"></i></li>
            <li><a href="" target="_blank"></a><i class="fa-brands fa-instagram"></i></li>
            <li><a href="" target="_blank"></a><i class="fa-brands fa-facebook"></i></li>
        </section>

        <section class="form">
            <div class="footer-form">
                <form action="/">
                    <div class="newsletter"><p>Dejanos tu contacto para recibir nuestro newsletter</p></div>
                    <input type="email" name="email" placeholder="fulanito@pregunta.com">
                </form>
            </div>
        </section>

    </footer>
</body>
</html>