<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
    <title>FUFU</title>
</head>
<body>
  <header>
    <div class="container-hero">
        <div class="container hero">
            <div class="customer-support">
                <i class="fa-solid fa-headset"></i>
                <div class="content-customer-support">
                    <span class="text">Soporte al cliente</span>
                    <span class="number">123-456-7890</span>
                </div>
            </div>

            <div class="container-logo">
    <i class="fa-solid fa-paintbrush"></i>
                <h1 class="logo"><a href="/">Artistica Fufu</a></h1>
            </div>

            <div class="container-user">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-basket-shopping"></i>
                <div class="content-shopping-cart">
                    <span class="text">Carrito</span>
                    <span class="number">(0)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-navbar">
        <nav class="navbar container">
            <i class="fa-solid fa-bars"></i>
            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Pinturas</a></li>
                <li><a href="#">Fibrofacil</a></li>
                <li><a href="#">Más</a></li>
                <li><a href="#">Blog</a></li>
            </ul>

            <form class="search-form">
                <input type="search" placeholder="Buscar..." />
                <button class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </nav>
    </div>
</header>
    <br><br>
    <main class="login">
      <form class="login-form" action="/login" method="post">
        <h2 class="text">Entrá a tu cuenta</h2><br><br>
          <label class="form-label" for="email">Email:</label>
          <input class="form-input" type="email" id="email" name="email"><br><br>
            <label class="form-label" for="password">Contraseña:</label>
            <input class="form-input" type="password" id="password" name="password">
            <br><br>
            <label class="form-rememberme" for="rememberme">
              <input type="checkbox" id="rememberme" name="rememberme" checked>Recordarme
            </label>
            <br><br>
            <a href="/reset-password" class="forgot-password">¿Olvidaste tu contraseña?</a>
            <br><br>
            <a href="/register" class="register">Registrate</a>
            <br><br>
            <input type="submit" value="Iniciar sesión">
      </form> 
  </main>
  <br><br>
    <footer class="footer">
      <div class="container container-footer">
        <div class="menu-footer">
          <div class="contact-info">
            <p class="title-footer">Información de Contacto</p>
            <ul>
              <li>
                Dirección: Av. Rivadavia 4717, Ciudad de Buenos Aires.
              </li>
              <li>Atencion al cliente: 0800-456-7890</li>
              <li>Whatapp: 11-6778-9698</li>
              <li>Email: artfufu@soporte.com</li>
            </ul>
            <div class="social-icons">
              <span class="facebook">
                <i class="fa-brands fa-facebook-f"></i>
              </span>
              <span class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </span>
              <span class="youtube">
                <i class="fa-brands fa-youtube"></i>
              </span>
              <span class="pinterest">
                <i class="fa-brands fa-pinterest-p"></i>
              </span>
              <span class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </span>
            </div>
          </div>

          <div class="information">
            <p class="title-footer">Información</p>
            <ul>
              <li><a href="#">Acerca de Nosotros</a></li>
              <li><a href="#">Información Delivery</a></li>
              <li><a href="#">Politicas de Privacidad</a></li>
              <li><a href="#">Términos y condiciones</a></li>
              <li><a href="#">Contactános</a></li>
            </ul>
          </div>

          <div class="my-account">
            <p class="title-footer">Mi cuenta</p>

            <ul>
              <li><a href="#">Mi cuenta</a></li>
              <li><a href="#">Historial de ordenes</a></li>
              <li><a href="#">Lista de deseos</a></li>
              <li><a href="#">Boletín</a></li>
              <li><a href="#">Reembolsos</a></li>
            </ul>
          </div>

          <div class="newsletter">
            <p class="title-footer">Boletín informativo</p>

            <div class="content">
              <p>
                Suscríbete a nuestros boletines ahora y mantente al
                día con nuevas colecciones y ofertas exclusivas.
              </p>
              <input type="email" placeholder="Ingresa el correo aquí...">
              <button>Suscríbete</button>
            </div>
          </div>
        </div>

        <div class="copyright">
          <p>
            Desarrollado por ArtFuFu &copy; 2023
          </p>

          <img src="/imagenesdetail2/payment.png" alt="Pagos">
        </div>
      </div>
    </footer>
</body>
</html>