<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <script src="https://kit.fontawesome.com/590d131412.js" crossorigin="anonymous"></script>
    <title>Fufu</title>
</head>
<body>
    
    <!-- <header class="header-c">
        <nav class="nav-bar">
            <ul class="top-navbar">
                <img class="logo" src="/imagenes/logo_size.jpg" alt="logo_size_invert">
               <li><a href="#" target="_blank">Creá tu cuenta</a></li>
               <li><a href="#" target="_blank">Ingresá</a></li>
            <li><a href="#" target="_blank">Mis compras</a></li>
        </ul>
        <ul class="left-navbar">
            <li><a href="#" target="_blank">Ofertas</a></li>
            <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
            <li><a href="#" target="_blank">Vender</a></li>
            <li><a href="#" target="_blank">Ayuda</a></li>
        </ul>
    </nav> -->
    <header>
    </header>
    <div class="container-title">Producto</div>
    <main>
        <div class="container-img"><img src="/imagenes/argentina-hello-kitty.jpg"alt=""></div>
    <div class="container-info-product">
        <div class="container-price"><span>108.99</span>
            <i class="fa-solid fa-chevron-right"></i>
    </div>
        <div class="container-details-product">
            <div class="form-group">
                <label for="colour">Color</label>
                <select name="colour" id="colour">
                    <option disabled selected value="">Escoge una opcion </option>
                    <option value="rojo">Rojo</option>
                    <option value="blanco">Blanco</option>
                    <option value="beige">Beige</option>
                </select>
            </div>
            <div class="form-group">
                <label for="size">Color</label>
                <select name="size" id="size">
                    <option disabled selected value="">Escoge una opcion </option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                </select>
            </div>
            <button class="btn-clean">Limpiar</button>
        </div>
        <div class="container-add-cart">
            <div class="container-quantity">
                <input type="number" placeholder="1" value="1" min="1" class="input-quantity">
                <div class="btn-increment-decrement">
                    <i class="fa-solid fa-chevron-up"></i>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <button class="btn-add-to-cart"><i class="fa-solid fa-plus"></i>
                Añadir al carrito
            </button>
        </div>
        <div class="container-description">
            <div class="title-description">
                <h4>Descrpcion</h4>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum alias magnam atque minima ullam dolore esse explicabo, modi sapiente deleniti hic odio at! Et eius exercitationem, quasi tempore saepe delectus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea voluptatum ipsam repellendus qui aspernatur tenetur quis illum maiores pariatur obcaecati expedita vel labore, accusamus modi accusantium numquam inventore quos id!</p>
            </div>
        </div>
        <div class="container-additional-information">
            <div class="title-additional-information">
                <h4>Informacion Adicional</h4>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-additional-information">
                <p>-------------</p>
            </div>
        </div>
        <div class="container-reviews">
            <div class="title-reviews">
                <h4>Reseñas</h4>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-reviews">
                <p>-------------</p>
            </div>
        </div>
        <div class="container-social">
            <span>Compartir</span>
            <div class="container-buttons-social">
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
            </div>
        </div>
    </div>
</main>

<section class="container-related-products">
    <h2>Productos relacionados</h2>
    <div class="card-list-products">
        <div class="card">
            <div class="card-img">
                <img src="imagenes/inf-gato.jpg" alt="producto-1">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>Gato Fibrofacil</h3>
                    <p class="category">Decoracion</p>
                </div>
                <div class="price">$600
                </div>
            </div>
        </div>
    <div class="card">
        <div class="card-img">
            <img src="/imagenes/te-amo-3.jpg" alt="producto-2">
        </div>
        <div class="info-card">
            <div class="text-product">
                <h3>Te amo Fibrofacil</h3>
                <p class="category">Decoracion</p>
            </div>
            <div class="price">$900
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="/imagenes/helado-1321.jpg" alt="producto-3">
        </div>
        <div class="info-card">
            <div class="text-product">
                <h3>Helado Fibrofacil</h3>
                <p class="category">Decoracion</p>
            </div>
            <div class="price">$500
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="/imagenes/globo-1256.jpg" alt="producto-4">
        </div>
        <div class="info-card">
            <div class="text-product">
                <h3>Globo Fibrofacil</h3>
                <p class="category">Decoracion</p>
            </div>
            <div class="price">$600
            </div>
        </div>
    </div>
</section>
<br><br><br><br>
   <footer>
   </footer>
</body>
</html>