/* ------------ PALETA DE COLORES ------------
#5fc4ae
#43897a
#c45fb5
#89437f
#c4ab5f 
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* ------------------------------------------ HEAD ------------------------------------------ */

/* header {
    background-color: #5fc4ae;
    width: 100%;
    padding-bottom: 3px;
} */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
	padding-left: 2%;
	padding-right: 2%;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color:#5fc4ae;
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color:#5fc4ae;
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
	background-color:#5fc4ae;
	padding-left: 2%;
	padding-right: 2%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color:#5fc4ae;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */


/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
/* .main-content {
	background-color: var(--background-color);
} */


/* 

/* ------------------------------------------ MAIN NACHO/OLIVER!!!! ------------------------------------------*/
/* main{
    width: 90vw;
    margin:auto;
	margin-bottom: 30px;
}

main section{
    margin-top: 30px;
    width: 100%;
    height: auto;
    border: solid 1px rgb(100, 100, 100);
    padding: 10px;
    padding-bottom: 20px;
}

main section article{
    margin-top: 10px;
    border: solid 1px #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section h3{
	font-size: 2rem;
}
main section h4{
	font-size: 1.5rem;
	padding-right: 3%;
}

.all-articles{
    display: flex;
	justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
}

.descripciones{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    border-top: solid 1px black;
    padding-top: 8px;
    font-size: 12px;
}

main section img {
    width: 20vw;
    height: auto;
} */ 

/* ------------------------------------------ FOOTER ------------------------------------------ */
/* 
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #c4ab5f;
    list-style-type: none;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer section img{
    border-radius: 50%;
}

.logo-footer div{
    border-radius: 50%;
}

.links-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-link{
    margin-bottom: 8px;
    color: black;
}
footer a{
    color: black;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer section {
    text-align: center;
}

section.form{
    margin:auto;
}

.newsletter{
    text-align: center;
    font-size: 12px;

} */

/* ------------------------------- BREAKPOINTS - MEDIA QUERIES ------------------------------- */
/* @media(max-width: 480px){
    .logo-footer{
        display: none;
    }
    section.form{
        display: none;
    }
    .footer-link{
        margin-bottom: 20px;
    }
}

@media (min-width: 481px){
    .all-articles{
        display:flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }
    main section article{
        width: 15vw
    }
    .social-icons{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    footer section {
        text-align: center;
        width: 25%;
    }
    footer {
    display: flex;
    flex-direction: row;
    }
    footer p{
    font-size: 16px;
    margin-bottom: 20px;
    }
    footer .fa-brands{
        font-size: 20px;
    }
} */


.footer {
	background-color: #c4ab5f;
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: black;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: black;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: black;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
	border-radius: 4px solid black;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: #c4ab5f;
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************************* */
/*       MEDIA QUERIES -- 768px -- TABLETS       */
/* ********************************************* */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
	.all-articles{
		display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
	}
    main section img {
		width: 40vw;
	} 
	main section h4{
		font-size: 1.4rem;
		padding-right: 3%;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
	/* main section img {
		width: 15%;
	} */
	/* main section h4{
		font-size: 1.8rem;
		padding-right: 3%;
	} */
}

/* ------------------------------------------ main- Carrito de Compras ------------------------------------------ */



.tituloCarro{
	font-size: 45px;
	box-sizing: border-box;
	margin-left: 50px;

}

.cantidad{
	font-size: 25px;
	box-sizing: border-box;
	margin-left: 50px;
	text-align: center;


}

main section{
	/* margin-left:7 px; */
	border-radius: 5px;
    margin-top: 30px;
    width: 370px;
    /* height: max-content; */
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
    padding-bottom: 20px;
	box-sizing: border-box;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(150,1fr)) ;
}

.titulosArticulos{
	font-size: 20px;
	font-style: bold;
	text-align: center;
	
	
}

img{
 width: 350px;
 /* height: 15%; */
}

.info{
	font-size: 20px;
	text-align: left;
	
	
}

.precios{
	font-size: 25px;
	text-align: right;
}

.seguirCompras{
	font-size: 20px;
	text-decoration: underline;
	margin-left: 5.3rem;
}

.codigos{
	text-align: right;
    margin-right: 18rem;
    box-sizing: border-box;
	font-size: 20px;

}












/* 
.search-form-i { 
	position: relative;
	display: flex;
	align-items: center;
	border: 1px solid #000;
	border-radius: 2rem;
	background-color:none;
	height: 4.4rem;
	overflow: hidden;
	margin-left: 40rem;
	/* width: max-content; */
	/* margin-top: -25rem; */

/* 
 .search-form-i input {
	outline: none;
	font-family: inherit;
	border:none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color:none;
	cursor: pointer;
}  

 .search-form-i .btn-search-i {
	border: none;
	background-color: color rgb(2, 2, 2);;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem; 
}

.btn-search-i {
	font-size: 2rem;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	margin-left: 5px;
	border-radius: 2rem;
	
} */ 

 
