
/* Detalles */
.container-detalles{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 48px;
    align-items: baseline;
    flex-wrap: wrap;
}
.detalle-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 3rem;
}
.container-detalles .img-fluid{
    max-width: 380px;
    width: 100%;
    margin: 1rem auto;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .2);
} 
.detalles-content{
    padding: 2rem;
    margin-bottom: 80px;
}
.detalles-content h3{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
}
.detalles-content .precio span{
    font-size: 2rem;
    font-weight: 600;
}
.detalles-content .description{
    padding-top: 2rem;
	font-size: 16px;
}
.detalles-content .description span{
    line-height: 2.8rem;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.btn__group{
    display: inline-block;
    background-color: #252525;
    padding: 1rem 1.8rem;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 8px;
}

.btn__group a{
	color: white;
}

.btn__group:hover{
	background: linear-gradient(to right,#5fc4ae 0%, #43897a 100%);
   
}
.price{
    font-weight: 700;
    font-size: 20px;
}
