/* ------------ PALETA DE COLORES ------------
#5fc4ae
#43897a
#c45fb5
#89437f
#c4ab5f 
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* ------------------------------------------ HEAD ------------------------------------------ */

header {
    background-color: #5fc4ae;
    width: 100%;
    padding-bottom: 3px;
}


/* ------------------------------------------ MAIN ------------------------------------------*/
main{
    width: 90vw;
    margin:auto;
}

main section article{
    margin-top: 10px;
    border: solid 1px #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.all-articles{
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
}
main section{
    margin-top: 30px;
    width: 100%;
    height: auto;
    border: solid 1px #89437f;
    padding: 10px;
    padding-bottom: 20px;
}

.descripciones{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    border-top: solid 1px black;
    padding-top: 8px;
    font-size: 12px;
}

main section img {
    width: 20vw;
    width: 100%;
    height: auto;
}

/* ------------------------------------------ FOOTER ------------------------------------------ */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #c4ab5f;
    list-style-type: none;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer section img{
    border-radius: 50%;
}

.logo-footer div{
    border-radius: 50%;
}

.links-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-link{
    margin-bottom: 8px;
    color: black;
}
footer a{
    color: black;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer section {
    text-align: center;
}

section.form{
    margin:auto;
}

.newsletter{
    text-align: center;
    font-size: 12px;

}

/* ------------------------------- BREAKPOINTS - MEDIA QUERIES ------------------------------- */
@media(max-width: 480px){
    .logo-footer{
        display: none;
    }
    section.form{
        display: none;
    }
    .footer-link{
        margin-bottom: 20px;
    }
}

@media (min-width: 481px){
    .all-articles{
        display:flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }
    main section article{
        width: 15vw
    }
    .social-icons{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    footer section {
        text-align: center;
        width: 25%;
    }
    footer {
    display: flex;
    flex-direction: row;
    }
    footer p{
    font-size: 16px;
    margin-bottom: 20px;
    }
    footer .fa-brands{
        font-size: 20px;
    }
}
