@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu';
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
header{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.container-title{
    padding: 30px;
    width: 200px;
    background-color: #c4ab5f;
    margin-bottom: 50px;
    color:#222;
    display: flex;
}
main{
    display: flex;
    gap:30px;
    margin-bottom:80px;
}

.container-img{
    display: flex;
    background-color: #f7f7f9;
    flex: 1;
}
.container-info-product{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-price{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-price span{
    font-size: 24px;
    font-weight: 300;
}

.container-details-product{
    padding: 30px 0;
}
.form-group{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.form-group label{
    width: 100px;
    color: #222;
    font-weight: 700;
}
.form-group select{
    width: 300px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f9;
    outline: none;
    color: #666;
}
.btn-clean{
    border: none;
    background: none;
    color: #666;
    margin-left: 120px;
    cursor: pointer;
}
.btn-clean:hover{
    color: #1bbeb4;
}
.container-add-cart{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}
.container-quantity{
    position: relative;
}
.input-quantity{
    background-color: #f7f7f9;
    border: none;
    padding: 10px;
    width: 60px;
    height: 100%;
    color: #666;
    font-weight: 500;
}
.input-quantity:focus{
    outline: none;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}

.btn-increment-decrement{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    right: 7px;
}

.btn-increment-decrement{
    font-size: 11px;
    color: #666;
    cursor: pointer;
}

.fa-chevron-down:hover{
    color: #1bbeb4;

}
.fa-chevron-up:hover{
    color: #1bbeb4;
}

.btn-add-to-cart{
    border: none;
    background-color: #252525;
    padding: 10px;
    color: #f7f7f9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
}
.btn-add-to-cart:hover{
    color: #1bbeb4;
}
.hidden{
    display: none;
}

.container-description,
.container-additional-information,
.container-reviews{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
}

.title-description,
.title-additional-information,
.title-reviews{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.title-description h4,
.title-additional-information h4,
.title-reviews h4{
    font-weight: 300;
    color: #666;
    font-size: 14px;
}

.text-description,
.text-additional-information,
.text-reviews{
    font-size: 13px;
    color: #252525;
    line-height: 22px;
    margin-top: 25px;
}

.container-social{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}
.container-social span{
    font-weight: 300;
    color: #252525;
}

.container-buttons-social{
    display: flex;
    gap: 15px;
    align-items: center;
}

.container-buttons-social a:link,
.container-buttons-social a:visited{
    color: #666;
    font-style: 15px;
}

.container-buttons-social a:hover{
    color: #1bbeb4;
}

.container-related-products h2{
    text-align: center;
    margin-bottom: 30px;
}
.card-list-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card{
    cursor: pointer;
}

.card-img{
    background: transparent;
    margin-bottom: 15px;
}

.card-img img{
    height: 400px;
    object-fit: cover;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    border:2px solid rgba(0, 0, 0, 0.2) ;
}

.info-card{
    display: flex;
    justify-content: space-between;
}

.text-product{
    stop-color: #252525;
    font-weight: 300;
    line-height: 1.4;
}

.text-product h3{
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover{
    color: #1bbeb4;
}

.text-product p:hover{
    color: #1bbeb4;
}

.text-product p{
    color: #666;
    font-size: 13px;
}