.product-container {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.product-image {
  margin-right: 20px;
  flex: 0 0 40px
}

.product-details {
  flex: 1;
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-actions {
  display: flex;
}

.product-action {
  margin-right: 10px;
}
