.product-container {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

img.product-img {
  width: 50%; /* sets the image width to 50% of its container */
  margin: 0 auto; /* centers the image horizontally */
}

.product-details {
  flex: 1;
  margin-left: 20px;
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-actions {
  display: flex;
  font-size: 12px;
}

.product-action {
  margin-right: 10px;
}

h2 a {
font-size: 12px;
margin-left: 20px;
}

h1{
  margin-left: 21px;
  font-size: px;
}