body {
  background-color: #f9f9fa;
}

.container {
    text-align: center;
}
.profile {
  display: inline-block; /* Add this to align div in the middle */
}

.profile-view {
  background-color: #f9f9fa;
  padding: 20px;
  border-radius: 5px;
  color: black;
  text-align: center;
  border: 2px solid #5fc4ae;
  display: inline-block; /* Add this to adjust width to content */
  text-align: center; /* Center align content */
}

.profile-view h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-view img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 0;
  border: 1.5px solid black;
}

.profile-view p {
  font-size: 18px;
  margin-bottom: 5px;
}

.logout-btn,
.customize-btn {
  background-color: #5fc4ae;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.logout-btn:hover,
.customize-btn:hover {
  background-color: #4ca095;
}