/* ------------ PALETA DE COLORES ------------
#5fc4ae
#43897a
#c45fb5
#89437f
#c4ab5f 
*/

body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  background-color: #ebebeb;
  opacity: 0.9;
}

.titulo-fufu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin: 0px auto 0px auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
  
.titulo-fufu i {
  font-size: 2rem;
}
  
.titulo-fufu h1 a {
  text-decoration: none;
  color: #000;
  font-size: 4rem;
  text-transform: uppercase;
}

.container-register{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 12px 22px rgba(0, 0, 0, 0.775);
  margin-top: 25px; 
}

.container-register .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 750;
  margin-bottom: 4px;
  font-size: 16px;
}

.user-details .input-box input{
  height: 45px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input::placeholder{
color: #000;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
   
form .gender-details .gender-title{
  font-size: 16px;
  font-weight: 500;
}
   
form .category{
  display: flex;
  width: 80%;
  margin: 14px 0 ;
  justify-content: space-between;
}
   
form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}
   
form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

  .yatienecuenta{
    margin-top: 35px;
    font-size: medium;
  }
  .yatienecuenta h6{
    font-size: medium;
    font-weight: 1000;
  }

   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background-color: #5fc4ae;
   }
   form .button input:hover{
    background-color: #fff;
    color: #5fc4ae;
    border: 1px solid #5fc4ae;
    }
   @media(max-width: 584px){
    .container-register{
    max-width: 100%;
    }
    form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
      .container-register .content .category{
      flex-direction: column;
      }
    }

    @media (min-width: 584px) {
      .yatienecuenta{
        display: flex;
      }
      .yatienecuenta a{
        margin-left: 3%;
      }
    }

