<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/header.ejs') %> 
<body>
    <h1>ERROR 4O4</h1>

    <h3>La página solicitada no fue encontrada</h3>

    <a href="/home"><button>Volver al inicio</button></a>
</body>
</html>