<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
<%- include('./partials/header.ejs') %> 
    <main>
        <section>
            <h3>Nuevos Lanzamientos</h3>
            <div class="all-articles">
                <a href="/./src/views/products/show.ejs"><article>
                    <img src='/images/cajon-grande.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Cajon Grande</h4>
                            <p class="precio">$9.499</p>
                    </div>
                </article></a> 
    
                <a href="/./src/views/products/show.ejs"><article>
                    <img src='/images/arco-iris-1982.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Arcoiris</h4>
                            <p class="precio">$1.500</p>
                    </div>
                </article></a>
    
                <a href="/./src/views/products/show.ejs"><article>
                    <img src='/images/helado-1321.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Helado</h4>
                            <p class="precio">$2.800</p>
                    </div>
                </article></a>
    
                <a href="/./src/views/products/show.ejs"><article>
                    <img src='/images/globo-1256.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Globo</h4>
                            <p class="precio">$2.000</p>
                    </div>
                </article></a>
              </div>
        </section>
        <section>
            <h3>Ofertas</h3>
            <div class="all-articles">
                <article>
                    <img src='/images/inf-gato.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Gato</h4>
                            <p class="precio">$6.770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/pinches-12.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Cactus</h4>
                            <p class="precio">$2.70</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/te-amo-3.jpg' alt=''>
                    <div class="descripciones">
                            <h4>"TE AMO"</h4>
                            <p class="precio">$770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/bar-3.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Bar</h4>
                            <p class="precio">$3.450</p>
                    </div>
                </article>
              </div>
        </section>
        <section>
            <h3>Lo más vendido</h3>
            <div class="all-articles">
                <article>
                    <img src='/images/macetero-p6.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Macetero</h4>
                            <p class="precio">$6.770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/mesa-luz-nordica.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Mesa de Luz Nordica</h4>
                            <p class="precio">$2.70</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/perchero-1.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Perchero</h4>
                            <p class="precio">$770</p>
                    </div>
                </article>
    
                <article>
                    <img src='/images/servilletero-corona-1.jpg' alt=''>
                    <div class="descripciones">
                            <h4>Servilletero Corona</h4>
                            <p class="precio">$3.450</p>
                    </div>
                </article>
              </div>
        </section> 


        
    </main>
  <%- include('./partials/footer.ejs') %> 
</body>
</html> 