<header>
    <div class="container-hero">
        <div class="container hero">
            <div class="customer-support">
                <i class="fa-solid fa-headset"></i>
                <div class="content-customer-support">
                    <span class="text">Soporte al cliente</span>
                    <span class="number">0800-456-7890</span>
                </div>
            </div>

            <div class="container-logo">
    <i class="fa-solid fa-paintbrush"></i>
                <h1 class="logo"><a href="/">Artistica Fufu</a></h1>
            </div>

            <div class="container-user">
                <form id="logout-form" method="post">
                    <a id="logout-link" href="#"><i class="fa fa-sign-out"></i></a>
                  </form>
                  
                  <script>
                    var logoutLink = document.getElementById('logout-link');
                    logoutLink.addEventListener('click', function(event) {
                      event.preventDefault(); // Prevent the default link behavior
                      fetch('/logout', { method: 'post' }).then(function() {
                        window.location.href = '/login'; // Redirect to the login page
                      });
                    });
                  </script>
                  
              <a href="/profile"> <i class="fa-solid fa-user"></i></a> 
              <a href="/carritoDeCompras"><i class="fa-solid fa-basket-shopping"></i></a>
                <div class="content-shopping-cart">
                    <span class="text">Carrito</span>
                    <span class="number">(0)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-navbar">
        <nav class="navbar container">
            <button class="burger-menu" onclick="toggleMenu()"><i class="fas fa-bars"></i></button>
<ul class="burgermenu-list" id="b-menu">
    <li><a href="#">Pinturas</a></li>
    <li><a href="/fibrofacil">Fibrofacil</a></li>
    <li><a href="#">Más</a></li>
    <li><a href="#">Blog</a></li>
    <% if (locals.userIsAdmin) { %>
        <li><a href="/admin">Admin</a></li>
    <% } %>
</ul>

<!-- Be sure to include the Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<script>
  function toggleMenu() {
    var menu = document.getElementById("b-menu");
    menu.classList.toggle("show");
  }
</script>

            <ul class="menu">
                <li><a href="#">Pinturas</a></li>
                <li><a href="/fibrofacil">Fibrofacil</a></li>
                <li><a href="#">Más</a></li>
                <li><a href="#">Blog</a></li>
                <% if (locals.userIsAdmin) { %>
                    <li><a href="/admin">Admin</a></li>
                <% } %>
            </ul>

            <form class="search-form">
                <input type="search" placeholder="Buscar..." />
                <button class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </nav>
    </div>
</header>
