/* ------------ PALETA DE COLORES ------------
#5fc4ae
#43897a
#c45fb5
#89437f
#c4ab5f 
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* ------------------------------------------ HEAD ------------------------------------------ */

/* header {
    background-color: #5fc4ae;
    width: 100%;
    padding-bottom: 3px;
} */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root {
	--primary-color:#5fc4ae;			/*  #c7a17a; */
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
/* .container {
	max-width: 120rem;
	margin: 0 auto;
} */

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
	padding-left: 2%;
	padding-right: 2%;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color:#5fc4ae;
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color:#5fc4ae;
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
	background: linear-gradient(to right,#5fc4ae 0%, #43897a 100%);
	padding-left: 2%;
	padding-right: 2%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background: linear-gradient(to right,#5fc4ae 0%, #43897a 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

  .burger-menu {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .burgermenu-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    z-index: 1;
  }

  .burgermenu-list.show {
    display: block;
  }

  .burgermenu-list li {
    margin-bottom: 10px;
  }

  /* Show the burger menu on small screens */
  @media (min-width: 769px) {
    .burger-menu {
      display: block;
    }

    .burgermenu-list {
      position: static;
      display: block;
      margin-top: 10px;
      border: none;
    }

    .burgermenu-list li {
      margin-bottom: 0;
    }

    .burger-menu i {
      transform: translateY(-3px) rotate(-45deg);
    }

    .burger-menu i:nth-child(2) {
      opacity: 0;
    }

    .burger-menu i:last-child {
      transform: translateY(3px) rotate(45deg);
    }
}
    @media (min-width: 768px) {
    .burgermenu-list {
      display: none;
    }
  }
