<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>></title>
</head>
<body>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password">
        <input type="checkbox" name="rememberme" id="rememberme">Acordate porfa
        <button>Entrar</button>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body>
    
    <div class="titulo-fufu">
      <i class="fa-solid fa-paintbrush"></i>
      <h1><a href="/">Artistica Fufu</a></h1>
    </div>
    <main class="login">
      <div class="container-login">
        <form action="/login" method="post">
          <div class="title">Login</div>
          <div class="input-box underline">
            <input type="email" placeholder="Ingrese su Email" name="email"/>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Ingrese su Contraseña" name="password"/>
            <div class="underline"></div>
          </div>
          <div class="input-box button">
            <input type="submit" value="Ingresar"/>
          </div>
          <div class="recordame">
            <input type="checkbox" value="Recordarme"/> Recordame bb
          </div>
        </form>
        <div class="option">
          No tienes cuenta? <a href="/register">Registrate </a>
        </div>
        <div class="twitter">
          <a href="#"><i class="fa-brands fa-google"></i>Ingresar con Google</a>
        </div>
        <div class="facebook">
          <a href="#"
            ><i class="fa-brands fa-square-facebook"></i>Ingresar con
            Facebook</a>
        </div>
      </div>
    </main>
  </body>
</html> 
