<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

    <body>

        <div class="titulo-fufu">
            <i class="fa-solid fa-paintbrush"></i>
            <h1><a href="/">Artistica Fufu</a></h1>
        </div>
        <main class="login">
            <div class="container-login">
                <h1>Profile</h1>
                <span>
                    <%= locals.userLogged.name %>
                </span>
                <span>
                    <%= locals.userLogged.email %>
                </span>
    </body>

</html>