<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body>
  <div class="titulo-fufu">
    <i class="fa-solid fa-paintbrush"></i>
                <h1 class="logo"><a href="/">Artistica Fufu</a></h1>
            </div>
  <div class="container-register">
    <div class="title">Creá tu cuenta</div><br>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre Completo</span>
            <input type="text" placeholder="Ingrese nombre" required>
          </div>
          <div class="input-box">
            <span class="details">Nombre de Usuario</span>
            <input type="text" placeholder="Ingrese usuario" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Ingrese email" required>
          </div>
          <div class="input-box">
            <span class="details">Numero de Telefono</span>
            <input type="text" placeholder="Ingrese numero" required>
          </div>
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="password" placeholder="Ingrese contraseña" required>
          </div>
          <div class="input-box">
            <span class="details">Confirme Contraseña</span>
            <input type="password" placeholder="Confirme contraseña" required>
          </div>
        </div>
        <div class="gender-details">
          <span class="gender-title">Aceptar Términos y Condiciones</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Acepto</span>
          </label>
          </div>
          <div class="yatienecuenta">
            <h6>¿Ya tenés una cuenta?</h6>
            <a href="/login">Ingresá con tu cuenta</a>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Registrarse">
        </div>
      </form>
    </div>
  </div>
</body>
</html> 