<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body>
  <div class="container-logo">
    <i class="fa-solid fa-paintbrush"></i>
                <h1 class="logo"><a href="/">Artistica Fufu</a></h1>
            </div>
  <div class="container">
    <div class="title">Registro</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre Completo</span>
            <input type="text" placeholder="Ingrese nombre" required>
          </div>
          <div class="input-box">
            <span class="details">Nombre de Usuario</span>
            <input type="text" placeholder="Ingrese usuario" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Ingrese email" required>
          </div>
          <div class="input-box">
            <span class="details">Numero de Telefono</span>
            <input type="text" placeholder="Ingrese numero" required>
          </div>
          <div class="input-box">
            <span class="details">Contrase単a</span>
            <input type="password" placeholder="Ingrese contrase単a" required>
          </div>
          <div class="input-box">
            <span class="details">Confirme Contrase単a</span>
            <input type="password" placeholder="Confirme contrase単a" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Acepto Terminos y Condiciones</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Acepto</span>
          </label>
          <!-- <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Femenino</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefiero no decirlo</span>
            </label> -->
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Registrarse">
        </div>
      </form>
    </div>
  </div>
</body>
</html> 