*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #43897a;
    color: bisque;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-self: center;
    text-align: center;
}

/* header img{
    /* margin: 5vw; */


.search_bar{
    width: 200%;
}

header h4{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin: 2vw;
    width: 5vw;
    height: 15vh;
    margin: 2vh;
    
}

div img{
    width: 15vw;
    height: 20vh;
    margin: 20vw;
    
    
}
div{
    display: flex;
    justify-content: space-around;
    width: 20vh;
    height: 20vh;
    align-items: center;
    ;
}
.burger {
    margin-top: 1vh;
}

.search_bar{
    margin: 2vw;
}

.submit{
    margin-top: 3vh;
    display: flex;
    align-items: center;
}



nav {
    
    height: 80px;
    width: 600px;  
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: auto;
    background-color: black;
    width: 100%;
}

a{
position: relative;
text-decoration: none;
font-family: "poppins", sans-serif;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 0.5px;
padding: 0 10px;
color: #f1f1f1;
}

a::after{
    content: "";
    position: absolute;
    background-color: #50e3c2;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

a:hover{
    color: #50e3c2;
}

a:hover::after{
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;

}

main img {
    width: 50vw;
    height: 100vh;
    border: solid black;
    /* margin: 5vw; */
}

.main-content-box {
    border: solid black;
    width: 50vw;
    height: 150vh;
    align-items: center;

}

.main-title {
    width: 50vw;
    height: 12, 5vh;
}

.main-text {
    width: 45vw;
    height: 5vh;
    text-align: justify;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: justify;
    font-size:large;
  
    
    }