<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs')%>
<body>
	<%- include('../partials/header.ejs') %> 

	<main class="container-detalles" id="detalles">
		<article class="detalle-grid">
			<img src="/images/helado-1321.jpg" class="img-fluid">
			<div class="detalles-content">
				<h3 class="nombre-producto">Producto</h3>
				<div class="rating">
				</div>
				<p class="price"><b>Precio: </b> $55.00</p>
				<p class="description">
					<b>Descripcion: </b> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quae ad
						ex sint expedita perspiciatis odit eligendi! Et quia ex aperiam dolorum sunt omnis maiores.
						Repudiandae delectus iste exercitationem vel?</span>
				</p>
				<p class="description">
					<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptates consequuntur in
						assumenda odit hic, aut cupiditate dolorem aspernatur! Quibusdam iusto magnam vero maxime
						quisquam voluptatibus minima aliquam molestias, iure ratione commodi, reiciendis quasi.</span>
				</p>
				<div class="bottom">
					<div class="btn__group">
						<a>Añadir al carrito</a>
					</div>
				</div>
			</div>
	</main>

<%- include('../partials/footer.ejs') %> 
</body>
</html> 